@import 'styles/styles.scss';

.about-container {
  align-items: center;
  color: $color-black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: rem(116px);
  width: 50vw;
  .smiles {
    width: rem(133px);
  }
  .title {
    font-size: $font-size-title;
    letter-spacing: rem(3px);
    line-height: rem(23.44px);
    margin-top: rem(17px);
  }
  .text{
    font-size: $font-size;
    margin: rem(27px) rem(80) rem(80);
  }
}
