@import 'styles/styles.scss';

.select select {
  background-color: transparent;
  border: 1px solid $color-light-black;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0.8rem;
  width: 100%;
}

.select select.error {
  border: 1px solid $color-red;
  margin-top: 5px;
}
