@import 'styles/styles.scss';

.conversation-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: rem(357px);
  .chat-header {
    align-items: center;
    border-bottom: rem(2px) solid $color-light-grey;
    display: flex;
    justify-content: space-between;
    height: rem(60.5px);
    margin-top: rem(61px);
    padding: rem(8px);
    width: rem(339px);
    .chat-avatar {
      border-radius: 50%;
      display: flex;
      height: rem(30px);
      margin-left: rem(20px);
      width: rem(30px);
    }
    .info {
      margin-left: rem(13px);
      text-align: justify;
      width: rem(203px);
      .user-name {
        font-size: $font-size-3;
        font-weight: 600;
        margin: 0;
      }

      .topic-title {
        font-size: $font-size-2;
        margin: 0;
      }
    }
  }
  .chat-box {
    display: flex;
    flex-direction: column;
    margin-top: rem(20px);
    width: 100%;
    .external-user,
    .logged-user {
      p {
        border-radius: 8px;
        font-size: $font-size-2;
        max-width: 155px;
        padding: rem(8px);
      }
    }
    .logged-user {
      align-self: flex-end;
      display: flex;
      flex-direction: row-reverse;
      margin-right: rem(20px);
      p {
        background-color: $color-orange;
        margin-left: rem(10px);
        text-align: right;
      }
      .time {
        align-self: self-end;
        font-size: rem(9px);
        margin-bottom: rem(20px);
      }
    }
    .external-user {
      align-self: flex-start;
      display: flex;
      margin-left: rem(20px);
      p {
        background-color: $color-light-grey;
        margin-right: rem(10px);
        text-align: left;
      }
      span {
        font-size: rem(9px);
      }
    }
  }
}
