@import 'styles/styles.scss';

.chat-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .separator {
    margin-bottom: rem(2px);
    width: rem(339px);
  }

  .chat-title {
    border-bottom: rem(2px) solid $color-light-grey;
    font-weight: 600;
    font-size: $font-size;
    line-height: rem(32px);
    margin-top: rem(55px);
    margin-bottom: rem(2px);
    width: rem(339px);
  }
  .chat-list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(80px);
    max-height: rem(235px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    a {
      color: $color-black;
      scrollbar-width: none; /* Firefox */
      text-decoration: none;
      .chat-box {
        align-items: center;
        border-bottom: rem(1px) solid $color-light-grey;
        display: flex;
        height: rem(60.5px);
        justify-content: space-between;
        padding: rem(8px);
        width: rem(339px);
        .chat-avatar {
          border-radius: 50%;
          display: flex;
          height: rem(30px);
          margin-left: rem(20px);
          width: rem(30px);
        }
        .chat {
          margin-left: rem(13px);
          text-align: justify;
          width: rem(203px);
          .user-name {
            font-size: $font-size-3;
            font-weight: 600;
            margin: 0;
          }

          .chat-text {
            font-size: $font-size-2;
            margin: 0;
          }
        }
        .topic-notification {
          position: relative;
          .notification {
            background-color: $color-orange;
            border-radius: 50%;
            display: none;
            height: rem(14px);
            font-size: $font-size-1;
            position: absolute;
            width: rem(14px);
          }
          .active {
            display: inline;
          }
          .chat-topic {
            background-color: aqua;
            border-radius: 50%;
            display: flex;
            height: rem(30px);
            margin-right: rem(20px);
            width: rem(30px);
          }
        }
      }
    }
  }
  .smiles {
    width: rem(48px);
  }
}
