.mobile-container {
  align-items: center;
  background-color: var(--color-light-blue);
  color: var(--color-light-black);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 50vw;
}

.mobile-container .mobile-sample {
  margin-top: -200px;
}

.mobile-container .playstore-button {
  margin-top: -90px;
}

.mobile-container .social-media {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
