@import 'styles/styles.scss';

.no-target {
  align-items: center;
  display: flex;
  flex-direction: column;
  .subtitle {
    font-size: $font-size-subtitle;
    font-weight: 600;
    line-height: rem(32px);
  }
  .suggestion {
    font-weight: 600;
    font-size: $font-size;
    line-height: rem(32px);
    margin-top: rem(55px);
  }
  .list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(80px);
    .list-item {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-bottom: rem(25px);
    }
    .list-text {
      margin-left: rem(20px);
      margin-bottom: rem(4px);
    }
  }
  .smiles {
    width: rem(48px);
  }
}
