@import 'styles/styles.scss';

.sidebar-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: rem(116px);
  max-width: rem(357px);
  padding: rem(20px);
  .smiles {
    width: rem(133px);
  }
  .message {
    font-size: $font-size-title;
    letter-spacing: rem(3px);
    line-height: rem(23.44px);
    margin-top: rem(17px);
  }
  .title {
    font-size: $font-size-subtitle;
    font-weight: 600;
    letter-spacing: rem(3px);
    line-height: rem(23.44px);
    margin-top: rem(17px);
  }
  .list {
    list-style-image: url('../../assets/oval.svg');
    margin-top: rem(60px);
  }
  .item {
    font-size: $font-size;
    margin-bottom: rem(20px);
    text-align: left;
    text-transform: none;
  }
  .btn-got-it {
    font-size: $font-size-1;
    font-weight: bold;
    margin-top: rem(112px);
    width: rem(185px);
  }
}
