@import 'styles/styles.scss';

.msg-box {
  p {
    border-radius: 8px;
    font-size: $font-size-2;
    max-width: 155px;
    padding: rem(8px);
  }
  &:first-child {
    margin-top: rem(10px);
  }
  &.logged-user {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    margin-right: rem(20px);
    p {
      background-color: $color-orange;
      margin-left: rem(10px);
      text-align: right;
    }
    .time {
      align-self: self-end;
      font-size: rem(9px);
      margin-bottom: rem(20px);
    }
  }
  &.external-user {
    align-self: flex-start;
    display: flex;
    margin-left: rem(20px);
    p {
      background-color: $color-light-grey;
      margin-right: rem(10px);
      text-align: left;
    }
    span {
      font-size: rem(9px);
    }
  }
}
