.container{
  display: flex;
}
.form {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 50vw;
  text-transform: uppercase;
  text-align: center;
}
.form h1 {
  font-size: var(--font-size-title);
  font-weight: bold;
  line-height: 23.44px;
  margin-bottom: 38px;
  margin-top: 100px;
}

.form form {
  width: 180px;
  max-width: 20rem;
}
.form Input{
  font-size: var(--font-size-1);
  margin-bottom: 17px;
  background-color: transparent;
}
.form label {
  font-size: var(--font-size-2);
  font-weight: 600;
  line-height: 13px;
}

.form .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form a {
  color: var(--color-light-blue);
  font-size: var(--font-size);
  margin-top: 0.8rem;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form .error-message {
  color: var(--color-red);
  display: block;
  margin-top: 0.3rem;
  font-size: var(--font-size-error);
  text-transform: none;
}
.form .button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-size-2);
  line-height: 12.89px;
}

.form .to-sign-in{
  border-top: .5px solid var(--color-black);
  color: var(--color-black);
  margin-top: 20px;
  padding-top: 10px;
  width: 120px;
}

.form .gender{
    margin-bottom: 30px;
    box-sizing: border-box;
    padding: 0.8rem;
    -moz-appearance: none;
    -webkit-appearance: none;  font-size: var(--font-size-1);

    
}