@import 'styles/styles.scss';

.text-area {
  background-color: transparent;
  box-sizing: border-box;
  font-size: $font-size-2;
  text-align: center;
  textarea {
    height: 100%;
    resize: none;
    width: 100%;
  }
}
